input[type="url"] {
    font-size: 1.5em;
    padding:0.25em 0.375em;
    margin:0.375em 0 1.25em 0;
    background-color: #fdfdfd;
    border: 0.0625em solid;
    border-color: #ccc;
    box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2);
    opacity: .75;
}

input[type="url"]:focus {
    outline: none;
    background-color: #fff;
    border-color: rgba(28, 126, 194,.8);
    box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(28, 126, 194,.8);
    opacity: 1;
}

#url-type-styled-input:invalid {
    border-color: rgba(203,0,2,.8);
    box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
}

input[type="submit"] {
    font-size: 1.5em;
    width: 100%;
    padding: 0.25em 0.375em;
    margin: 0.375em 0 1.25em 0;
    border: none;
    background-color: rgb(28, 126, 194);
    color: #fff;
}
/* Animation property */
.start {
    animation: wiggle 2s linear infinite;
    width: 10em;
}

@keyframes wiggle {
    10% {
        transform: rotateZ(0);
    }
    20% {
        transform: rotateZ(-15deg);
    }
    30% {
        transform: rotateZ(10deg);
    }
    40% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(6deg);
    }
    60% {
        transform: rotateZ(-6deg);
    }
    70%, 100% {
        transform: rotateZ(0);
    }
}
button {
    height: 4em;
    width: 7em;
    background: rgba(86, 167, 204, 0.74);
    border: none;
    border-top: 3px solid rgba(40, 123, 162, 0.68);
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-size: 1em;
    transform-origin: 50% 5em;
    margin-bottom: 2em;
}
h1, h2 {
    font-family: "Cambria", sans-serif;
    font-weight: 500;
}
h1{
    font-size: 2.2em;

}
h2{
    font-size: 1.8em;

}
.start-button{
    align-content: center;
    text-align: center;
}
.iciELI{
    margin: 10px auto 30px auto;
}
body{
    font-family: "Kievit Offc Pro", serif;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main section#description-main{
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
main section#new-scene{
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.description{
    margin: 2em 4em;
    text-align: center;
    align-content: center;
    -webkit-align-content: center;
}

.invisible {
    visibility: hidden!important;
}
.icon {
    float: left;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #b2d9ec;
    border-radius: 50px;
    transition: 0.5s;
}
.icons-main{
    width: 40px;
    height: 40px;
    fill: #0974a6;
}
.icons-main:hover {
    fill: #60b6de;
}

.main-steps-box{
    padding-right: 1em;
}
.main-steps-box .description, .title {
    margin-left: 85px;
    line-height: 24px;
}
.main-col-50{
    margin: 2em 2em 1em;
    max-width:50%;
}
footer {
    margin-top:auto;
    background: rgba(9, 116, 166, 0.25);
    text-align: center;
    padding: 20px;
    color: #444444;
    font-size: 14px;
}
main > :first-child {
    font-size: 4rem;
    text-align: center;
    padding: 1em 1em 0.5em;
    font-family: "Cambria", serif;
    font-weight: 500;
    background: rgba(9, 116, 166, 0.2);
}

section{
    padding: 3em 3em 0.5em;
}
form{
    display: flex;
    flex-direction: column;
    background: rgba(9, 116, 166, 0.12);
    width: 70vw;
    min-height: 45vh;
    margin: auto auto 4% auto;
    flex:1;
}
form input {
    border: none;
    background: white!important;
    margin: 0 5em 0 5em;
    border-radius: .25rem;
    padding: .75rem 1rem;
}
form textarea#json-paste,#json-preview{
    width: 50em;
    height: 15em;
    margin-bottom: 2em;
    border-radius: 0.25rem;
}
form label{
    margin:1em;
    font-weight: 900;
}
.selectdiv{
    display: flex;
    flex-direction: column;
}
label.charts-configure-label{
    font-size: 1.2em;
    margin: 1em;
}

.selectdiv select {
    -webkit-appearance: none;
    border-radius: 0.25rem;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
    margin-bottom: 10px;
    width: 15em;
    height: 3.5em;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    border: 1px solid #cccccc;
}
select option{
    margin-top: 15px;

}
.table-button{
    width: 15vw;
    min-width: 3em;
    max-height: 5vh;
    background: rgba(227, 15, 15, 0.15);
    border: 1px solid #e50a2c;
    border-radius: 0.2em;
    color: black;
    font-size: 1.2em;
    transform-origin: 50% 5em;
    margin-bottom: 0;
}
#testing {
    width: 15em;
    background: rgba(86, 167, 204, 0.74);
    border: #0974a6;
    border-radius: 0.2em;
    color: #fff;
    font-size: 1.2em;
    transform-origin: 50% 5em;
    margin-bottom: 1em;
}
.rwt__tabs{
    margin-bottom: 3em;
}
.rwt__tab {
    background: rgb(224, 232, 236) !important;
    border: 0;
    color: black;
    font-family: inherit;
    font-size: inherit;
    padding: 0!important;
    width: 20%;
    margin-bottom: 0;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 3px;
}
.rwt__tablist{
    width: 100%;
    align-content: center;
}
.rwt__tab[aria-selected="true"] {
    background: rgba(8, 196, 229, 0.25) !important;
}


li {
    border-radius: 3px;
    padding: 20px 20px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 25px;
}


.table-row {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsive-table{
    max-width: 90vw;
    margin: auto;
}
.col-3 {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table-json {
    border-radius:0.25em;
    border-collapse: collapse;
    max-height: 75vh;
    margin: 5em auto;
    max-width: 80vw;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
    color:black;;
    background: rgba(110, 187, 224, 0.32);
    border-bottom:4px solid rgba(9, 116, 166, 0.29);
    border-right: 1px solid rgba(9, 116, 166, 0.32);
    font-size:1.2em;
    font-weight: 100;
    padding:24px;
    text-align:left;
}

th:first-child {
    border-top-left-radius:0.25em;
}

th:last-child {
    border-top-right-radius:0.25em;
    border-right:none;
}
tr:last-child td:first-child {
    border-bottom-left-radius:0.25em;
}

tr:last-child td:last-child {
    border-bottom-right-radius:0.25em;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:1.2em;
    font-weight:normal;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}
tr:hover td {
    background: rgba(9, 116, 166, 0.45);
    color:#FFFFFF;
}


td {
    padding:20px;
    text-align:left;
    vertical-align:middle;
    border-right: 1px solid #C1C3D1;
}

@media (max-width: 1000px) {
    main section#description-main {
        flex-direction: column;
    }
    #description {
        order: 0;
    }
    .main-col-50{
        max-width:100%;
    }
    form{
        margin: auto auto 4% auto;
        width: 100vw;
    }
    .iciELI{
        max-width: 80%;
    }
    form textarea#json-paste,#json-preview {
        max-width: 80%;
    }
    .rwt__tab {
        width: 30vw;
        margin-top: 5px;
    }
}
@media (max-width: 580px) {
    .rwt__tab {
        width: 80vw;
        margin-top: 5px;
    }
}
